.product__item {
    color: #1A485E;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #F0F096;

    h2 {
        padding-top: 15px;
    }

    p {
        padding-bottom: 15px;
    }
}